<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Yape</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section class="bienAmarillo">
        <div class="contenedorBien">
            <img src="../assets/img/icons/check.png">
            <h1>¡Bien!</h1>
            <h1>Ahora puedes utilizar Yape</h1>
        </div>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"></script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/app2.js"></script>
    <script src="../assets/js/cambiarBienATarjeta.js"></script>
</body>

</html>
