<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Yape</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <section id="hola">
        <div class="row">
            <div class="col s10"></div>
            <div class="col s2">
                <img src="../assets/img/icons/engine.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="contenedorHola">
                <img src="../assets/img/icons/happy-face.png" alt="">
                <h1 class="textoBlanco">HOLA</h1>
                <div class="row">
                    <div class="col s12">
                        <h1><img src="../assets/img/icons/eye.png" alt="">
                            <a href=""><span class="terminosYcondicionees"> Mostrar Saldo</span></a></h1>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="info">
        <div class="row">
            <div class="col s11">
                <h1 class="textoBlanco">ÚLTIMOS MOVIMIENTOS</h1>
            </div>
            <div class="col s1">
                <a href=""><h1><img src="../assets/img/icons/right-arrow-circular-button.png" alt=""></h1></a>
            </div>
            <div class="col s12 divBlanco"></div>
        </div>
        <div class="row">
            <div class="col s4">
                <img src="../assets/img/icons/icon.png">
            </div>
            <div class="col s1"></div>
            <div class="col s7">
                <div class="row">
                    <h3 class="textoBlanco">¿Aún no relizas tu primer pago?</h3>
                </div>
                <div class="row">
                   <h3 class="textoBlanco"> Es rápido y sencillo</h3>
                   
                </div>
            </div>
        </div>
        <div class="row botonesFinales">
           <div class="col s2"></div>
            <div class="col s3 center-align">
                <img src="../assets/img/icons/send.png" alt="">
                <h3 class="textoBlanco ">ENVIAR PAGO</h3>
            </div>
            <div class="col s1"></div>
            <div class="col s3 center-align">
                <img src="../assets/img/icons/code-qr.png" alt="">
                <h3 class="textoBlanco">ENVIAR PAGO</h3>
            </div>
        </div>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"></script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/app2.js"></script>
</body>

</html>
