<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Yape</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
</head>

<body>
   
    <div class="center marginInicio">
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <img src="../assets/img/icons/bcp-logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h1>Registra tu tarjeta débito BCP</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h4 class="grisSuave">Por ahora solo aceptamos cuentas de ahorro y/o corriente en soles</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="row">

                        <div class="col s2">
                            <img src="../assets/img/icons/card.png" alt="">
                        </div>
                        <div class="col s10">
                            <input id="perrito"type="text" class="" placeholder="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 center-align">
                    <div class="row">
                       <div class="col s5"></div>
                        <div class="col s1">
                            <img src="../assets/img/icons/scan.png">
                        </div>
                        
                        <div class="col s2">
                            <span class="terminosYcondicionees"> Escanear Tarjeta</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <span>Fecha de Vencimiento </span>
                </div>
                <div class="col s2"></div>
                <div class="col s2">
                    <input type="text" placeholder="Mes" id="mesPerrito"><span>/</span>
                </div>
                <div class="col s2">
                    <input type="text"  id="anoPerrito"placeholder="Año">
                </div>

            </div>

            <div class="row">
                <div class="col s12 m12">
                    <a id="btn_registroTarjeta" class="waves-effect btn btn_amarillo_registro" disabled href="claveTarjeta.html">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./../static/jquery/dist/jquery.min.js"></script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/app2.js"></script>
</body>

</html>
